<mat-tab-group mat-align-tabs="Employees" [selectedIndex]="selectedTabIndex" (selectedIndexChange)="selectTab($event)">
    <mat-tab label="All Employees">
        <div>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" style="width: 100%;">
                    <!-- name Column -->
                    <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
                    </ng-container>

                    <!-- email Column -->
                    <ng-container matColumnDef="Email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                        <td mat-cell *matCellDef="let row"> {{row.Email}} </td>
                    </ng-container>

                    <!-- CompanyName Column -->
                    <ng-container matColumnDef="CompanyName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.CompanyName}} </td>
                    </ng-container>

                    <!-- PhoneNumber Column -->
                    <ng-container matColumnDef="PhoneNumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number </th>
                        <td mat-cell *matCellDef="let row"> {{row.PhoneNumber}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="5">No data</td>
                    </tr>

                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef>Action</th>

                        <td mat-cell *matCellDef="let row">
                            <button title="Edit Employee" color="primary" mat-button (click)="editEmployee(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button title="Delete Employee" color="warn" mat-button (click)="deleteEmployee(row.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                </table>
                <mat-paginator #paginator [length]="totalRecords" (page)="onPageorPageSizeChange()"
                    [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                    showFirstLastButtons>
                </mat-paginator>

            </div>
        </div>
    </mat-tab>
    <mat-tab label="Add Employee">
        <div class="mat-elevation-z8">
            <div class="emp-form-dom">
                <form class="employee-form" [formGroup]="empForm">
                    <mat-form-field appearance="fill" *ngIf="empForm.value.id">
                        <mat-label>ID</mat-label>
                        <input matInput readonly name="id" formControlName="id" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput name="Name" formControlName="Name" autocomplete="off">
                    </mat-form-field>
                    <div *ngIf="isFieldValidate('Name')" class="alert error-div">
                        <mat-error *ngIf="empForm.controls['Name'].errors.required">
                            Please enter Name
                        </mat-error>
                        <mat-error *ngIf="empForm.controls['Name'].errors.minlength">
                            Please enter minimum {{empForm.controls['Name'].errors.minlength.requiredLength}}
                            character.
                        </mat-error>
                        <mat-error *ngIf="empForm.controls['Name'].errors.maxlength">
                            Please enter only {{empForm.controls['Name'].errors.maxlength.requiredLength}}
                            character.
                        </mat-error>
                        <mat-error *ngIf="empForm.controls['Name'].errors.pattern">
                            Please enter only alphabet
                        </mat-error>
                    </div>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput name="Email" formControlName="Email" autocomplete="off">
                    </mat-form-field>
                    <div *ngIf="isFieldValidate('Email')" class="alert error-div">
                        <mat-error *ngIf="empForm.controls['Email'].errors.required">
                            Please enter Email
                        </mat-error>
                        <mat-error *ngIf="empForm.controls['Email'].errors.email">
                            Please enter Valid Email
                        </mat-error>
                    </div>
                    <mat-form-field appearance="fill">
                        <mat-label>Company Name</mat-label>
                        <input matInput name="CompanyName" formControlName="CompanyName" autocomplete="off">
                    </mat-form-field>
                    <div *ngIf="isFieldValidate('CompanyName')" class="alert error-div">
                        <mat-error *ngIf="empForm.controls['CompanyName'].errors.required">
                            Please enter Company Name
                        </mat-error>
                    </div>
                    <mat-form-field appearance="fill">
                        <mat-label>Phone Number</mat-label>
                        <input matInput name="PhoneNumber" formControlName="PhoneNumber" autocomplete="off">
                    </mat-form-field>
                    <div *ngIf="isFieldValidate('PhoneNumber')" class="alert error-div">
                        <mat-error *ngIf="empForm.controls['PhoneNumber'].errors.required">
                            Please enter Phone Number
                        </mat-error>
                        <mat-error *ngIf="empForm.controls['PhoneNumber'].errors.pattern">
                            Please enter Valid Phone Number
                        </mat-error>
                        <mat-error *ngIf="empForm.controls['PhoneNumber'].errors.minlength">
                            Please enter {{empForm.controls['PhoneNumber'].errors.minlength.requiredLength}}
                            digit number.
                        </mat-error>
                        <mat-error *ngIf="empForm.controls['PhoneNumber'].errors.maxlength">
                            Please enter only {{empForm.controls['PhoneNumber'].errors.maxlength.requiredLength}}
                            digit number.
                        </mat-error>
                    </div>
                    <div class="button-dom">
                        <button mat-button *ngIf="!empForm.value.id" mat-raised-button color="primary" [disabled]="!empForm.valid"
                            (click)="SaveEmployee()">
                            Add Employee
                        </button>
                        <button mat-button mat-raised-button color="warn" (click)="resetEmployeeForm()"
                            type="button">
                            Reset
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>